<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%- config.gtag_id %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%- config.gtag_id %>');
  </script>
  <style>
    body {
      margin: 0px;
    }
    svg.typst-doc {
      /* height: 100%; */
      /* width: min(100%, 595.28pt); */
      display: block;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <!-- <%- path %> -->
  <% if(path == "index.html" ) { %>
    <% var allPages=site.pages.data %>
    <% for(var i=0; i < allPages.length; i++) { %>
      <% if(allPages[i].path == "index/index.html") { %>
        <%- allPages[i].content %>
        <% break; %>
      <% } %>
    <% } %>
  <% } else { %>
    <%- page.content %>
  <% } %>
</body>
</html>