<!DOCTYPE html>
<html>
<head>
  <%- partial('partial/meta') %>
</head>
<body>
  <!-- <%- path %> -->
  <%- partial('partial/header') %>
  <% if (page.title) %>
    <h1><%- page.title %></h1>
  <% %>
  <%- page.content %>
  <%- partial('partial/footer') %>
</body>
</html>